.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.item{
    background: #1f484e;
    font-size: 3rem;
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

@media (max-width: 700px) {
    .container{
        grid-template-columns: 1fr;
        width: 100%;
    }
}